/*
---GRID-AREA---
Instructions
All CSS declarations and media queries in this
file should strictly target the "grid-area" div
and its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: grid;                            | Only grid
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only grid
¤ font-weight                               |
¤ grid-area                                 |
¤ grid-gap                                  |
¤ grid-template-areas                       |
¤ grid-template-columns                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.grid-area {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat (2, 1fr); }

.grid-area > * {
place-content: center;
}

@media screen and (min-width: 768px) {
    .grid-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "d e c"
        "b a a"
        "h f f"
        "i f f"
        "j j g";
    }
    .grid-area > *:nth-child(1) {grid-area: a;}
    .grid-area > *:nth-child(2) {grid-area: b;}
    .grid-area > *:nth-child(3) {grid-area: c;}
    .grid-area > *:nth-child(4) {grid-area: d;}
    .grid-area > *:nth-child(5) {grid-area: e;}
    .grid-area > *:nth-child(6) {grid-area: f;}
    .grid-area > *:nth-child(7) {grid-area: g;}
    .grid-area > *:nth-child(8) {grid-area: h;}
    .grid-area > *:nth-child(9) {grid-area: i;}
    .grid-area > *:nth-child(10) {grid-area: j;} 
}
@media screen and (min-width: 1024px) {
    .grid-area {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "c f f e"
        "b f f g"
        "h i a a"
        "j d d d";
        
    }

    .grid-area > *:nth-child(1) {grid-area: a;}
    .grid-area > *:nth-child(2) {grid-area: b;}
    .grid-area > *:nth-child(3) {grid-area: c;}
    .grid-area > *:nth-child(4) {grid-area: d;}
    .grid-area > *:nth-child(5) {grid-area: e;}
    .grid-area > *:nth-child(6) {grid-area: f;}
    .grid-area > *:nth-child(7) {grid-area: g;}
    .grid-area > *:nth-child(8) {grid-area: h;}
    .grid-area > *:nth-child(9) {grid-area: i;}
    .grid-area > *:nth-child(10) {grid-area: j;} 
}