/*
---FLEX---
Instructions
All CSS declarations and media queries in this
file should strictly target the "flex" div
and its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: flex;                            | Only flex
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only flex
¤ flex-basis                                |
¤ flex-direction                            |
¤ flex-grow                                 |
¤ flex-wrap                                 |
¤ font-weight                               |
¤ gap                                       |
¤ justify-content                           |
¤ order                                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.flex {
display: flex; 
flex-direction: column;
gap: 1rem;

}
.flex p {
    font-weight: 800;
}


@media screen and (min-width: 768px) {

    .flex {
        flex-direction: row;
        flex-wrap: wrap;

    }
    .flex > * {
        flex-grow: 1;
    }
    .flex > *:nth-child(1) {
        flex-basis: 13%;
        order: 1;
    }
    .flex > *:nth-child(4) {
        flex-basis: 63%;
        order: 2;
        }
    .flex > *:nth-child(3) {
        flex-basis: 13%;
        order: 3;
        }
    .flex > *:nth-child(2) {
        order: 4;
        flex-basis: 59%;
        }    
    .flex > *:nth-child(5) {
        order: 5;
        flex-basis: 9%;
        }
    .flex > *:nth-child(6) {
        order: 6;
        flex-basis: 19%;
        }
    .flex > *:nth-child(7) {
        order: 7;
        flex-basis: 9%;
        }
    .flex > *:nth-child(8) {
        order: 8;
        flex-basis: 19%;
        }
    .flex > *:nth-child(9) {
        order: 9;
        flex-basis: 59%
        }        



    .flex div:nth-child(1),
    .flex div:nth-child(3),
    .flex div:nth-child(5),
    .flex div:nth-child(6),
    .flex div:nth-child(7),
    .flex div:nth-child(8) {
        p {
        font-weight: 400;
        }
    }



}   
